doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title HMRC Accessibility report for #{original.testSuite}
    style=assets.stylesheet
  body
    h1 HMRC Accessibility report for #{original.testSuite}
    article
      h2 Summary
        .summary
          dl
            dt Test Suite Name
            dd=original.testSuite
          dl
            dt Build No
            dd
              a(href=original.buildUrl) #{original.buildNo}
          dl
            dt Total Error Count
            dd=totalErrorCount
          each tool in tools
            dl
              dt #{tool.name} Error Count
              dd=tool.total
            dl
              dt #{tool.name} Version
              dd=tool.version
            dl
              dt #{tool.name} Page Count
              dd=tool.pageCount

    article
      h2 Violations
      nav.tabs
        ul
          each tool in tools
            li.tab
             a(href="#" + tool.techName)= tool.name
      each tool in tools
        div.revealed-by-tab(id=tool.techName)
          table.violations
            thead
              tr
                th.path URL Path
                th.code Code (axe docs)
                th.description Description
                th.snippet Snippet
                th.alert Alert Level
                th.severity Severity
                th.knownIssue Known Issue
                th.info Further Information
            tbody
              each path in tool.paths
                each page in path.pages
                  each violation in page.violations
                    tr
                      td.path
                        a(href=violation.capturedPage,target='_blank') #{path.path}
                      td.code
                        a(href=violation.helpUrl,target='_blank') #{violation.code}
                      td.description=violation.description
                      td.snippet
                        span.code=violation.snippet
                      td.alert=violation.alertLevel
                      td.severity=violation.severity
                      td.knownIssue=violation.govUkKnownIssue
                      td.info
                        span.info #{violation.furtherInformation}
    script!=assets.javascript
